<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
            <link rel="stylesheet" href={{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min-1712f0378f8675ca7cd423d6262fcccf.css') }}>
            <link rel="stylesheet" href={{ asset('assets/styles/app-c3ab17f1e48495f7657bf7dde95cd979.css')}}
        {% endblock %}
    </head>
    <body>
        <header style="display: flex; height: 10vh; align-content: center; justify-content: space-between; position:fixed; top: 0; width: 100%;" class="bg-primary">
            <div style="display: flex; justify-items: flex-start;">
                <img src="{{ asset('images/header/main-logo.svg') }}" style="height: 100%;">
            </div>
            <div style="display: flex; align-items: center; margin-left: auto; width: 10%; margin-right: 50px;">
                <img src="{{ asset('images/header/user.svg') }}" style="height: 65%; color: white; margin-right: 50px;">
                <img src="{{ asset('images/header/logout.svg') }}" style="height: 65%; color: white;">
            </div>
        </header>
        <main>
            <nav style="width: 10vw; background-color: #F5BA41; flex-direction: column; height: 90vh; display: flex; justify-content: space-evenly; align-items: center; float: left; position:fixed; bottom: 0;">
                <div style="width: 8vw; background-color: white; height: 12vh; border-radius: 10px; display: flex; justify-content: center; align-items: center;">
                    <img src="{{ asset('images/nav/recipe.svg') }}" class="img-fluid" style="height: 100%; color: black;">
                </div>
                <div style="width: 8vw; background-color: white; height: 12vh; border-radius: 10px; display: flex; justify-content: center; align-items: center;">
                    <img src="{{ asset('images/nav/list.svg') }}" class="img-fluid" style="height: 80%; color: black;">
                </div>
                <div style="width: 8vw; background-color: white; height: 12vh; border-radius: 10px; display: flex; justify-content: center; align-items: center;">
                    <img src="{{ asset('images/nav/cooking.svg') }}" class="img-fluid" style="height: 80%; color: black;">
                </div>
                <div style="width: 8vw; background-color: white; height: 12vh; border-radius: 10px; display: flex; justify-content: center; align-items: center;">
                    <img src="{{ asset('images/nav/stats.svg') }}" class="img-fluid" style="height: 80%; color: black;">
                </div>
                <div style="width: 8vw; background-color: white; height: 12vh; border-radius: 10px; display: flex; justify-content: center; align-items: center;">
                    <img src="{{ asset('images/nav/contact.svg') }}" class="img-fluid" style="height: 100%;  color: black;">
                </div>
                <div style="width: 8vw; background-color: white; height: 12vh; border-radius: 10px; display: flex; justify-content: center; align-items: center;">
                    <img src="{{ asset('images/nav/about.svg') }}" class="img-fluid" style="height: 80%; color: black;">
                </div>
            </nav>

            {% block centre %}
                <div class="container text-center" style="padding-left: 9vw;">
                    <div class="row d-flex justify-content-center align-items-center g-1 w-100">
                        <div class="col-lg-3 d-flex justify-content-center align-items-center">
                            <div class="container" style="padding-top: 25px; margin-top: 10vh">
                                <div class="row d-flex justify-content-center align-items-center g-1 w-100">
                                    <div class="col">
                                        <span id="rating" class="img-tag">5.0</span>
                                        <img src="{{ asset('images/main/tags/star-fill.png') }}" class="figure-img img-fluid rounded img-tag m-2">
                                        <span id="no_rating" class="img-tag">126</span>
                                    </div>
                                </div>
                                <hr class="sm">
                                <div class="row d-flex justify-content-center align-items-center g-1 w-100" style="padding: 10px 0;">
                                    <div class="col">
                                        <span id="user" class="img-tag">user123</span>
                                    </div>
                                </div>
                                <hr class="sm">
                                <div class="row d-flex justify-content-center align-items-center g-1 w-100">
                                    <div class="col">
                                        <span style="font-size: 2rem;">{{ 'now'|date('d - m -Y') }}</span>
                                    </div>
                                </div>
                                <hr class="sm">
                                <div class="row d-flex justify-content-center align-items-center g-1 w-100">
                                    <div class="col" id="bookmark">
                                        <img src="{{ asset('images/main/tags/bookmark-fill.png') }}" class="figure-img img-fluid rounded m-2">
                                    </div>
                                    <div class="col" id="share">
                                        <img src="{{ asset('images/main/tags/share.png') }}" class="figure-img img-fluid rounded m-2">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <figure class="figure">
                                <figcaption class="figure-caption" style="font-size: 48px; padding-top: 25px; margin-top: 10vh">NAME</figcaption>
                                <img src="{{ asset('images/main/recipes/pizza.svg') }}" class="figure-img img-fluid rounded">
                            </figure>
                        </div>
                        <div class="col-lg-3 d-flex justify-content-center align-items-center">
                            <div class="container" style="padding-top: 25px; margin-top: 10vh">
                                <div class="row d-flex justify-content-center align-items-center g-1 w-100">
                                    <div class="col">
                                        <img src="{{ asset('images/main/tags/clock.png') }}" class="figure-img img-fluid rounded m-2">
                                        <span id="clock" class="img-tag">90</span>
                                    </div>
                                </div>
                                <hr class="sm">
                                <div class="row d-flex justify-content-center align-items-center g-1 w-100" style="padding: 10px 0;">
                                    <div class="col">
                                        <img src="{{ asset('images/main/tags/serving.png') }}" class="figure-img img-fluid rounded m-2">
                                        <span id="serving" class="img-tag">8</span>
                                    </div>
                                </div>
                                <hr class="sm">
                                <div class="row d-flex justify-content-center align-items-center g-1 w-100">
                                    <div class="col">
                                        <img src="{{ asset('images/main/tags/ingredient.png') }}" class="figure-img img-fluid rounded m-2">
                                        <span id="ingredient" class="img-tag">12</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row d-flex justify-content-center align-items-center ">
                        <div class="col-3">
                            <img src="{{ asset('images/main/tags/type.png') }}" class="figure-img img-fluid rounded m-2">
                            <span id="ingredient" class="img-tag-sm">fast-food</span>
                        </div>
                        <div class="col-3">
                            <img src="{{ asset('images/main/tags/cuisine.png') }}" class="figure-img img-fluid rounded m-2">
                            <span id="ingredient" class="img-tag-sm">Italian</span>
                        </div>
                        <div class="col-6">
                            <img src="{{ asset('images/main/tags/dietary_type.png') }}" class="figure-img img-fluid rounded m-2">
                            <span id="ingredient" class="img-tag-sm">sugar-free, diabetic</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-12 h3">Indulge in a slice of culinary heaven with our signature pizza,
                            crafted with passion and precision to satisfy your cravings. Every bite is a symphony of
                            flavors, blending the richness of Italian tradition with  innovative twists that tantalize
                            the taste buds.
                        </div>
                    </div>
                    <hr>
                    <div class="row d-flex justify-content-start align-items-start px-5" style="text-align: left;">
                        <span class="h2">Ingredients</span>
                        <div class="col-12">
                            <ul>
                                <li>
                                    <span class="img-tag-sm">2</span>
                                    &nbsp;
                                    <span class="img-tag-sm">cups AP flour</span>
                                </li>
                                <li>
                                    <span class="img-tag-sm">1</span>
                                    &nbsp;
                                    <span class="img-tag-sm">tbsp olive oil</span>
                                </li>
                                <li>
                                    <span class="img-tag-sm">1</span>
                                    &nbsp;
                                    <span class="img-tag-sm">tsp salt</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <hr>
                    <div class="row d-flex justify-content-start align-items-start px-5 mb-5" style="text-align: left;">
                        <span class="h2">Preparation</span>
                        <div class="col-12">
                            <span class="img-tag-sm">
                                Make the base: Put the flour into a large bowl, then stir in the yeast and salt. Make a well, pour in 200ml warm water and the olive oil and bring together with a wooden spoon until you have a soft, fairly wet dough. Turn onto a lightly floured surface and knead for 5 mins until smooth. Cover with a tea towel and set aside. You can leave the dough to rise if you like, but it’s not essential for a thin crust.
                                <br>
                                Make the sauce: Mix the passata, basil and crushed garlic together, then season to taste. Leave to stand at room temperature while you get on with shaping the base.
                                <br>
                                Roll out the dough: if you’ve let the dough rise, give it a quick knead, then split into two balls. On a floured surface, roll out the dough into large rounds, about 25cm across, using a rolling pin.
                            </span>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </main>
    {#        {% block body %}{% endblock %}#}
        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </body>
</html>
