<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    <header style="display: flex; height: 10vh; background-color: #F5BA41;
    align-content: center; justify-content: space-between;">
        <div style="display: flex; justify-items: flex-start;">
            <img src="{{ asset('images/header/main-logo.svg') }}" style="height: 100%;">
        </div>
        <div style="display: flex; align-items: center; margin-left: auto; width: 10%; margin-right: 50px;">
            <img src="{{ asset('images/header/user.svg') }}" style="height: 65%; color: white; margin-right: 50px;">
            <img src="{{ asset('images/header/logout.svg') }}" style="height: 65%; color: white;">
        </div>
    </header>
    <main><nav style="width: 10vw; background-color: #F5BA41; flex-direction: column; height: 90vh; display: flex; justify-content: space-evenly; align-items: center; float: left;">
            <div style="width: 8vw; background-color: white; height: 12vh; border-radius: 10px; display: flex; justify-content: center; align-items: center;">
                <img src="{{ asset('images/nav/recipe.svg') }}" style="height: 100%; color: black;">
            </div>
            <div style="width: 8vw; background-color: white; height: 12vh; border-radius: 10px; display: flex; justify-content: center; align-items: center;">
                <img src="{{ asset('images/nav/list.svg') }}" style="height: 80%; color: black;">
            </div>
            <div style="width: 8vw; background-color: white; height: 12vh; border-radius: 10px; display: flex; justify-content: center; align-items: center;">
                <img src="{{ asset('images/nav/cooking.svg') }}" style="height: 80%; color: black;">
            </div>
            <div style="width: 8vw; background-color: white; height: 12vh; border-radius: 10px; display: flex; justify-content: center; align-items: center;">
                <img src="{{ asset('images/nav/stats.svg') }}" style="height: 80%; color: black;">
            </div>
            <div style="width: 8vw; background-color: white; height: 12vh; border-radius: 10px; display: flex; justify-content: center; align-items: center;">
                <img src="{{ asset('images/nav/contact.svg') }}" style="height: 100%;  color: black;">
            </div>
            <div style="width: 8vw; background-color: white; height: 12vh; border-radius: 10px; display: flex; justify-content: center; align-items: center;">
                <img src="{{ asset('images/nav/about.svg') }}" style="height: 80%; color: black;">
            </div>
        </nav>
        {% block article %}
        {% endblock %}
    </main>
{#        {% block body %}{% endblock %}#}
    </body>
</html>
